h3{
  color:black
  ;
}

h1{
  border-color:red;
  border-bottom-style: solid;
  border-bottom-width: 0.5em;
  background-color: Black;
  text-align: center;
  color: orange;
}

body{

Background: black/red;
  
}
