body {
	font-family: arial, helvetica, sans-serif;
	font-size: 90%;
	color: black;
	background-color: #ffc;
	margin: 1em;
	padding: 0;
}

p {
    	color:black;
	line-height: 1.5em;
}

a{
    	color: blue;
}  

h1 {
	color: #ffc;
	background-color: #900;
	font-size: 2em;
	margin: 0;
	margin-bottom: 0.5em;
	padding: 0.25em;
	text-align: center;
	letter-spacing: 0.5em;
	border-bottom-style: solid;
	border-bottom-width: 0.5em;
	border-bottom-color: #c00;
}

h3 {
	color: #999;
	font-size: 1.25em;
	background-color: #ffc;
}

img {
	border-style: solid;
	border-width: 2px;
	border-color: #ffc;
	background-color: #ffc;
}

a=link {
	text-decoration: none;
	background-color: #ffc;
	color: orange
}

a=visited{
	color:blue
}
a=active{
	color:red
}
	
a=hover{
	text-decoration:underline;
	color:green
}
	
strong {
	font-weight: bold;
	text-transform: uppercase;
}
        
em     {
	font-style: italic;
}	
